<header class="navbar-affixed-top" data-spy="affix" data-offset-top="62">
  <div class="navbar navbar-default yamm {{ if .Site.Params.dropdown_mouse_over }}mouseover{{ end }}" role="navigation" id="navbar">        <div class="container">
            <div class="navbar-header">
                  <a class="navbar-brand home" href="{{ "/" | relLangURL }}">
                    <svg width="42" viewBox="0 0 700 700">
                      <defs>
                        <linearGradient id="color">
                          <stop stop-color="#42a0d9"/>
                        </linearGradient>                      
                        <mask id="masky">
                          <rect width="100%" height="100%" fill="black"/>
                          <circle cx="50%" cy="50%" r="50%" fill="white"/>
                        </mask>
                      </defs>
                      <g mask="url(#masky)">
                        <rect class="l1" y="200" width="0" height="20" fill="url(#color)">
                          <animate attributeName="width" from="0" to="500" dur="1s" fill="freeze" />
                        </rect>
                        <rect class="l2" y="340" width="0" height="20" fill="url(#color)">
                          <animate attributeName="width" from="0" to="380" dur="1s" fill="freeze" />
                        </rect>
                        <rect class="l3" y="500" width="0" height="20" fill="url(#color)">
                          <animate attributeName="width" from="0" to="250" dur="1s" fill="freeze" />
                        </rect>
                      </g>
                      <circle transform="rotate(152.5)" transform-origin="center" cx="350" cy="350" r="340" stroke-dasharray="2199" stroke-dashoffset="471" stroke="url(#color)" stroke-width="20" fill="none">
                        <animate attributeName="stroke-dashoffset" from="2199" to="0" dur="1s" fill="freeze"/>
                      </circle>
                    </svg>
                    <h4 style="color: #42a0d9; font-weight: 500">{{ .Site.Params.logo_text }}</h4>
                  </a>
              <div class="navbar-buttons">
                  <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">{{ i18n "navToggle" }}</span>
                      <i class="fas fa-align-justify"></i>
                  </button>
              </div>
            </div>
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                  {{ $current := . }}

                  {{ range .Site.Menus.main.ByWeight }}
                  {{ $topLevel := replace .URL "/" "" }}
                  {{ $active := "" }}

                  {{ if eq $current.RelPermalink .URL }}
                    {{ $active = "active" }}
                  {{ end }}

                  {{ if eq $current.Type $topLevel }}
                    {{ $active = "active" }}
                  {{ end }}

                  {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
                    {{ range (split .URL "/") }}
                      {{ if eq "blog" . }}
                        {{ $active = "active" }}
                      {{ end }}
                    {{ end }}
                  {{ end }}

                  {{ if .HasChildren }}
                    <!-- Check if the first child marks a menu section identifier -->
                    {{ $hasSections := (hasPrefix (index .Children 0).Identifier "section.") }}
                    <li class="dropdown{{ if $hasSections }} use-yamm yamm-fw{{end}} {{ $active }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                        {{ if $hasSections }}
                        <ul class="dropdown-menu">
                            <li>
                            <div class="yamm-content">
                            <div class="row">
                                {{ if ne .URL "" }}
                                <div class="col-sm-6">
                                    <img src="{{ .URL }}" class="img-responsive hidden-xs"/>
                                </div>
                                {{ end }}
                                <div class="col-sm-3">
                                {{ range .Children.ByWeight }}
                                    {{ $column := printf "%s" .Post }}
                                    {{ if eq $column "1" }}
                                    <h5>{{ .Name }}</h5>
                                    {{ if .HasChildren }}
                                    <ul>
                                    {{ range .Children.ByWeight }}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{- end }}
                                    </ul>
                                    {{ end }}
                                    {{ end }}
                                {{ end }}
                                </div>
                                <div class="col-sm-3">
                                {{ range .Children.ByWeight }}
                                    {{ $column := printf "%s" .Post }}
                                    {{ if eq $column "2" }}
                                    <h5>{{ .Name }}</code></h5>
                                    {{ if .HasChildren }}
                                    <ul>
                                    {{ range .Children.ByWeight }}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                    </ul>
                                    {{ end }}
                                    {{ end }}
                                {{ end }}
                                </div>
                                {{ if eq .URL "" }}
                                <div class="col-sm-3">
                                {{ range .Children }}
                                    {{ $column := printf "%s" .Post }}
                                    {{ if eq $column "3" }}
                                    <h5>{{ .Name }}</code></h5>
                                    {{ if .HasChildren }}
                                    <ul>
                                    {{ range .Children.ByWeight }}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                    </ul>
                                    {{ end }}
                                    {{ end }}
                                {{ end }}
                                </div>
                                <div class="col-sm-3">
                                {{ range .Children }}
                                    {{ $column := printf "%s" .Post }}
                                    {{ if eq $column "4" }}
                                    <h5>{{ .Name }}</code></h5>
                                    {{ if .HasChildren }}
                                    <ul>
                                    {{ range .Children.ByWeight }}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                    </ul>
                                    {{ end }}
                                    {{ end }}
                                {{ end }}
                                </div>
                                {{ end }}
                            </div>
                            </div>
                            </li>
                        </ul>
                        {{ else }}
                        <ul class="dropdown-menu">
                            {{ range .Children.ByWeight }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                  {{ else }}
                  <li class="dropdown {{ $active }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                  {{ end }}
                </ul>
            </div>
            <!--/.nav-collapse -->

            <div class="collapse clearfix" id="search">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fas fa-search"></i></button>
                </span>
                    </div>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</header>

<!-- *** NAVBAR END ***-->
