<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>
  <body>
    <div id="all">
      {{ partial "nav.html" . }}
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
        <div class="container">
          <div class="row">
            <!-- *** LEFT COLUMN *** -->
            <div class="col-md-9" id="blog-listing-medium">
              {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections) }}
              {{ range $paginator.Pages }}
                <section class="post">
                  <div class="row equal">
                      <div class="col-md-4">
                        <a class="d-block" href="{{ .Permalink }}">
                          {{ if .Params.image }}
                            {{ if hasPrefix .Params.image "http" }}
                              <img src="{{ .Params.image }}" class="img-responsive" alt="{{ .Params.title }}">
                            {{ else }}
                              <img src="{{ .Params.image | relURL }}" class="img-responsive" alt="{{ .Params.title }}">
                            {{ end }}
                          {{ end }}
                        </a>
                      </div>
                    <div class="col-md-8">
                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <div class="clearfix">
                        <p class="author-category">
                          {{ if isset .Params "authors" }}
                            {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                          {{ end }}
                          {{ if isset .Params "categories" }}
                            {{ if gt (len .Params.categories) 0 }} in {{ range $index, $category := .Params.categories }}{{ if $index }}, {{ end }}
                              <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">{{ $category }}</a>{{ end }}
                            {{ end }}
                          {{ end }}
                        </p>
                        {{ if isset .Params "date" }}
                          {{ $createdAt := .Date.Format .Site.Params.date_format }}
                            {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                {{ $createdAt = replace $createdAt $month (i18n $month) }}
                            {{ end }}
                            <p class="date-comments author-category">
                               {{ $createdAt }}
                            </p>
                        {{ end }}
                      </div>
                      <p class="intro">{{ .Summary }}</p>
                    </div>
                  </div>
                  <hr />
                </section>
              {{ end }}
              <div class="text-center">
                {{ template "_internal/pagination.html" . }}
              </div>
            </div>
            <div class="col-md-3">
              {{ partial "sidebar.html" . }}
            </div>
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
