<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>
  <body>
    <div id="all">
      {{ partial "nav.html" . }}
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
        <div class="container">
          <div class="row">
            {{ if .Params.cinematic }}
              <div class="col-md-12" id="blog-post">
                {{ if or .Params.author .Params.date }}
                  <p class="text-muted text-uppercase mb-small text-right">
                    {{ if isset .Params "authors" }}
                      {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                    {{ end }}
                    {{ if and .Params.author .Params.date }}
                      |
                    {{ end }}
                    {{ if .Params.date }}
                      {{ $createdAt := .Date.Format .Site.Params.date_format }}
                      {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                        {{ $createdAt = replace $createdAt $month (i18n $month) }}
                      {{ end }}
                      {{ $createdAt }}
                    {{ end }}
                  </p>
                {{ end }}
                <div id="post-content">
                  {{ .Content }}
                </div>
              </div>
            {{ else }}
              <!-- *** LEFT COLUMN *** -->
              <div class="col-md-9" id="blog-post">
                {{ if .Params.image }}
                  {{ if hasPrefix .Params.image "http" }}
                    <img src="{{ .Params.image }}" style="margin: auto;" class="img-responsive" alt="{{ .Params.title }}">
                  {{ else }}
                    <img src="{{ .Params.image | relURL }}" style="margin: auto;" class="img-responsive" alt="{{ .Params.title }}">
                  {{ end }}
                {{ else }}
                {{ end }}
                {{ if or .Params.author .Params.date }}
                  <hr/>
                  <p class="text-muted text-uppercase text-right">
                    {{ if isset .Params "authors" }}
                      {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                    {{ end }}
                    {{ if isset .Params "categories" }}
                      {{ if gt (len .Params.categories) 0 }} in {{ range $index, $category := .Params.categories }}{{ if $index }}, {{ end }}
                        <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">{{ $category }}</a>{{ end }}
                      {{ end }}
                    {{ end }}
                    {{ if and .Params.authors .Params.date }}
                      |
                    {{ end }}
                    {{ if .Params.date }}
                      {{ $createdAt := .Date.Format .Site.Params.date_format }}
                      {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                          {{ $createdAt = replace $createdAt $month (i18n $month) }}
                      {{ end }}
                      {{ $createdAt }}
                    {{ end }}
                  </p>
                  <hr/>
                {{ end }}
                <div id="post-content">
                  {{ .Content }}
                </div>
            </div>
            <!-- *** RIGHT COLUMN *** -->
            <div class="col-md-3">
              {{ partial "sidebar.html" . }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
