<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>
  <body>
    <div id="all">
        {{ partial "nav.html" . }}
        <div id="content">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3" id="error-page">
                    <div class="box">
                        <h3>THIS PAGE IS CLASSIFIED</h3>
                        <p class="text-muted" style="font-size: 1.7rem">Just kidding, it appears this link doesn't exist (Error 404).<br>We're truly sorry.<br>Contact the team if you think this is a mistake</p>
                        <p class="buttons"><a href="{{ "/" | relURL }}" class="btn btn-template-main">Return to homepage</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
  </body>
</html>
